body {
  font-family: sans-serif;
  text-align: center;
  color: #000;
}

button {
  border: 0;
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
}

.message {
  color: #bbb;
  padding: 40px;
  font-size: 14px;
}
