* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  text-align: center;
  color: #000;
}

button {
  border: 0;
  margin: 20px 0;
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
}

.message {
  color: #bbb;
  padding: 20px;
  margin: 20px 0;
  font-size: 14px;
  background-color: #eee;
}
